body {
	background: #ccc;
	font-family: Verdana;
	max-width: 900px;
	margin: auto;
}
.photo {
	border: 1px solid #505050; 
	border-radius: 50%;
}

#title,.subtitle,.post_title {
	color: purple;
}
#title {
	font-size: 40px;
	text-transform: uppercase;
	text-decoration: underline;
}
a {
	text-decoration: underline;
	color: #DC143C;
}
.post_title {
	font-size: 16px;
	font-style: italic;
	margin: 0;
	margin-bottom: 15px;
	}
.post {
	background: #DDA0DD;
	padding: 15px;
	border: 3px dashed purple;
	margin-bottom: : 15px;
	border-radius: 5px;
}
.post_content {
	color: #DC143C;
	margin: 0;
	margin-bottom: 15px;
	text-transform: capitalize;
	text-align: justify;
	}
.post_image {
	margin-bottom: 15px;
	width: 90%;
	margin: 40px;
}
.contacts_list{
	list-style-type: none;
	padding-left: 15px;
}
.contacts_list li a {
	text-decoration: none;
	
}
